* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 760px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
}

.fon {
  position: fixed;
  background-image: url(../img/butterfly-g9b0cbe4f9_1280-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -5;
}

#scrollTop {
  position: fixed;
  bottom: 70px;
  right: 70px;
  font-size: 40px;
  z-index: 9999;
}

.isShowBtn {
  opacity: 1;
  transition: 500;
  &_hide {
    opacity: 0;
  }
}

.btn-scroll {
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
}

.header {
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 108px;
  background: transparent;
}

.logo {
  padding-right: 4px;
  padding-top: 36px;
}

.logo-img {
  border-radius: 16px;
  width: 90px;
  height: 40px;
}

.form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  width: 371px;
  height: 40px;
  padding-top: 36px;
  /* padding-left: 10px; */
}

.input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  width: 272px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 16px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn:focus {
  background: #6c8cff;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #fff;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #ff3d00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.section {
  width: auto;
}

.gallery {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  width: auto;
  padding: 0 140px;
}

.gallery-item {
  width: 360px;
  height: 248px;
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.thumb-block {
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  width: 360px;
  height: 48px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
}
.title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.amount {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.btn-load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  width: 125px;
}

.btn-load-more:focus {
  background: #6c8cff;
}
